[Unit]
Description=pgBackRest diff backup for warehouse
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
EnvironmentFile=/etc/default/pgbackrest
ExecStart=/opt/scripts/pgbackrest-backup.sh diff
